<div data-ng-controller="MenuSideController as MenuSide" class="side-menu hidden-xs hidden-sm">
	<div class="col-md-3 col-lg-3">

		<div class="list-group table-of-contents">
			<li class="list-group-item text-center titulo">Menu</li>
			<a class="list-group-item" data-ng-class="{active: MenuSide.isActive('/dashboard')}" href="/dashboard">dashboard</a>
			<a class="list-group-item" data-ng-class="{active: MenuSide.isActive('/lista-presenca')}" href="/lista-presenca"">lista de presença</a>
			<a class="list-group-item" data-ng-class="{active: MenuSide.isActive('/gerenciar-notas')}" href="/gerenciar-notas"">gerenciar notas</a>
			<a class="list-group-item" data-ng-class="{active: MenuSide.isActive('/plano-escolar')}" href="/plano-escolar"">plano escolar</a>
			<a class="list-group-item" data-ng-class="{active: MenuSide.isActive('/fechar-bimestre')}" href="/fechar-bimestre"">fechar bimestre</a>
		</div>

	</div>
</div>